@if (AdminRegisterUser)
{
    <tr>
        <td colspan="6" class="alert-success text-center font-weight-bolder"><h2>Новый пользователь добавлен в базу данных!</h2></td>
    </tr>
}
@if (AdminEditUser)
{
    <tr>
        <td colspan="6" class="alert-success text-center font-weight-bolder"><h2>Изменения успешно внесены!</h2></td>
    </tr>
}
@if (AdminIsNotComplete)
{
    <tr>
        <td colspan="6" class="alert-danger"><h3 class=" text-center font-weight-bolder">Недостаточно данных! Пожалуйста, введите все данные</h3></td>
    </tr>
}
@if (AddNewProject)
{
    <tr>
        <td colspan="8" class="alert-success"><h3 class=" text-center font-weight-bolder">Проект успешно дабавлен в базу данных!</h3></td>
    </tr>
}

@if (EditProjectComplete)
{
    <tr>
        <td colspan="8" class="alert-success"><h3 class=" text-center font-weight-bolder">Изменения успешно внесены в проект!</h3></td>
    </tr>
}

@if (AddNewTask)
{
    <tr>
        <td colspan="8" class="alert-success"><h3 class=" text-center font-weight-bolder">Новая задача успешно дабавлена в базу данных!</h3></td>
    </tr>
}

@if (NewAddComponent)
{
    <tr>
        <td colspan="6"><h4 class="table table-responsive-md font-weight-bolder">Редактирование нового товара:</h4></td>
    </tr>
}

@if (TypeEdit)
{
    <tr>
        <td colspan="6"><h4 class="table table-responsive-md font-weight-bolder">Редактирование категории товаров:</h4></td>
    </tr>
}

@if (ProductEdit)
{
    <tr>
        <td colspan="6"><h3 class=" text-center font-weight-bolder">Редактирование товара. Наименование товара: @ProductName, Артикль: @ProductArticle</h3></td>
    </tr>
}

@if (AddComponentComplete)
{
    <tr>
        <td colspan="6" class="alert-success"><h3 class=" text-center font-weight-bolder">Новый продукт добавлена в базу данных!</h3></td>
    </tr>
}

@if (NewTypeComplete)
{
    <tr>
        <td colspan="6" class="alert-success"><h3 class=" text-center font-weight-bolder">Новая категория внесена!</h3></td>
    </tr>
}

@if (EditComplete)
{
    <tr>
        <td colspan="6" class="alert-success"><h3 class=" text-center font-weight-bolder">Изменения внесены успешно!</h3></td>
    </tr>
}

@if (MessengerNoNewMessage)
{
    <tr class="text-center">
        <td colspan="3"><h4 class="font-weight-bolder">У вас нет новых сообщений</h4></td>
    </tr>
}

@if (MessengerNoMessage)
{
    <tr class="text-center">
        <td colspan="3"><h4 class="font-weight-bolder">В папке «@MessengerFolder» нет писем</h4></td>
    </tr>
}

@if (MessengerNewMessageComplete)
{
    <tr class="text-center">
        <td colspan="3" class="alert-success"><h4 class="font-weight-bolder">Сообщение отправлено успешно!</h4></td>
    </tr>
}

@if (MessengerNewMessageNotComplete)
{
    <tr class="text-center">
        <td colspan="3" class="alert-danger"><h4 class="font-weight-bolder">Ошибка! Пожалуйста, проверьте правильность оформления сообщения</h4></td>
    </tr>
}

@code {
    [Parameter] public bool AdminRegisterUser { get; set; }
    [Parameter] public bool AdminEditUser { get; set; }
    [Parameter] public bool AdminIsNotComplete { get; set; }

    [Parameter] public bool AddNewProject { get; set; }
    [Parameter] public bool EditProjectComplete { get; set; }
    [Parameter] public bool AddNewTask { get; set; }

    [Parameter] public bool NewAddComponent { get; set; }
    [Parameter] public bool TypeEdit { get; set; }
    [Parameter] public bool ProductEdit { get; set; }
    [Parameter] public bool AddComponentComplete { get; set; }
    [Parameter] public bool NewTypeComplete { get; set; }
    [Parameter] public bool EditComplete { get; set; }

    [Parameter] public bool MessengerNoNewMessage { get; set; }
    [Parameter] public bool MessengerNoMessage { get; set; }
    [Parameter] public bool MessengerNewMessageComplete { get; set; }
    [Parameter] public bool MessengerNewMessageNotComplete { get; set; }
    [Parameter] public string MessengerFolder { get; set; }

    [Parameter] public string ProductName { get; set; }
    [Parameter] public int ProductArticle { get; set; }


}