@page "/"
@inject NavigationManager navigate
@inject Client client

@if (client.Admin)
{
    <div class="modal-body">
        <table class="table table-responsive-md">
            <thead class="table-primary">
                <tr>
                    <td><h3 class="text-center font-weight-bolder">Вы вошли как: <span style="color: red"> Администратор </span></h3></td>
                    <td>
                        <button class="btn btn-danger" @onclick="ExitOfAccount">Выйти из аккаунта</button>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <Admin />
}
else
{
    @if (!client.Active)
    {
        <div class="col-md-6 offset-md-3">
            <table class="table table-responsive-md">
                <thead class="table-primary text-center">
                    <tr>
                        <th><h2 class="font-weight-bolder">Authorization</h2></th>
                    </tr>
                </thead>
            </table>
            <EditForm Model="client" OnValidSubmit="AuthorizationNow" class="table table-responsive-md">
                <DataAnnotationsValidator />
                <label>Имя пользователя:</label>
                <ValidationMessage For="()=>client.Name" />
                <InputText class="form-control" placeholder="Введите логин" @bind-Value="client.Name" />
                <label>Пароль:</label>
                <ValidationMessage For="()=>client.Password" />
                <InputText type="password" class="form-control" placeholder="Введите пароль" @bind-Value="client.Password" />
                <label></label>
                <table class="table table-responsive-md">
                    <tfoot class="table-primary">
                        @if (_isNotComplete)
                        {
                            <tr>
                                <td class="alert-danger"><h2>Неверный логин или пароль!</h2></td>
                            </tr>
                        }
                        @if (_notActive)
                        {
                            <tr>
                                <td class="alert-warning"><h2>Ваш аккаунт проходит проверку на подлинность. Пожалуйста, повторите попытку позже.</h2></td>
                            </tr>
                        }
                        <tr>
                            <th>
                                <button class="btn btn-primary">Авторизоваться</button>
                                <button class="btn btn-primary" @onclick="()=>navigate.NavigateTo(inReg)">Регистрация нового пользователя</button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </EditForm>
        </div>
    }
    @if (client.Active)
    {
        <Account />
        <div class="col-md-6 offset-md-3">
            <table class="table table-responsive-md">
                <tfoot class="table-primary">
                    <tr>
                        <td align="left" colspan="3">
                            <button class="btn btn-danger" @onclick="ExitOfAccount">Выйти из аккаунта</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
}

@code {
    string inReg = "/registration";

    private bool _authorizationIsActive;

    private bool _isNotComplete;
    private bool _adminMode;
    private bool _active;
    private bool _notActive;

    private static string _login;
    private static string _password;
    private static string _profession;

    private void AuthorizationNow()
    {
        var clientName = MongoDataBase.Authorization(client.Name, client.Password);
        if (client.Name == "Admin" && client.Password == "admin")
        {
            client.Admin = true;
            //navigate.NavigateTo("/admin");
        }
        else
        if (clientName != null)
        {
            var user = MongoDataBase.FindUser(client.Name);
            foreach (var item in user)
            {
                _active = item.Active;
            }
            if (_active)
            {
                _login = client.Name;
                client.GetUserData();
                _profession = MongoDataBase.FindUserProfession(client.Name);
                client.Admin = false;
                client.Active = true;
                _isNotComplete = false;
                _authorizationIsActive = !_authorizationIsActive;
                if (_profession == "Проектировщик")
                {
                    navigate.NavigateTo("/planner");
                }
                if (_profession == "Инженер")
                {
                    navigate.NavigateTo("/engineer");
                }
                if (_profession == "Кладовщик")
                {
                    navigate.NavigateTo("/warehouseman");
                }
            }
            else
            {
                _notActive = !_notActive;
            }
        }
        else
        {
            _isNotComplete = true;
        }
    }

    private void IsNotComplete()
    {
        _isNotComplete = true;
    }
    private void ExitOfAccount()
    {
        client.Active = false;
        client.Admin = false;
        client.Name = null;
        client.SurName = null;
        client.Profession = null;
        client.Email = null;
        client.PhoneNumber = null;
        client.Password = null;
    }
}
